/* header and footer styling */
header,footer{
	display: flex;
    background-color: #ccc;
    padding: 7px 7px 7px 160px;
    margin: 20px 0 20px 0;
	border-radius: 15px;
	min-height: 20px;
}

/* header button styling */
.headerClass{
	width: 220px;
    margin-right: 30px;
    font-size: 22px;
    font-family: arial;
    padding: 5px;
    background-color: #eee;
	text-align: center;
	border-radius: 15px;
}
.headerClass{
	cursor: pointer;
}
.headerClass:hover{
	background-color: #fff;
}
.headerClass a{
	text-decoration: none;
}
/* content and sidebar parent */
#main{
    width: 100%;
}

/* content */
#mainContent{
	width: 70%;
	display: block;
	float: left;
}

/* sidebar */
#sideBar{
	background-color: #ddd;
    width: 30%;
	height: 700px;
	float: left;
    display: block;
	margin-top: 16px;
}

/* tn cells wrapper */
ul {
	display: flex;
	flex-wrap: wrap;
	margin-left: 100px;
}

/* tn cells content*/
li {
    display: inline-block;
}
.cellTop,.cellMid,.cellFoot{
	width: 325px;
}
.cellMid{
	font-size: 32px;
	margin: 10px 0 10px 0;
}
.cellFoot{
	font-family: arial;
    font-weight: bold;
    color: #777;
    line-height: 28px;
	margin-bottom: 30px;
	font-size: 17px;
}
.contentCell{
	padding-left: 20px;
}
